<html>
<head>
	<title>Basic view</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
	    var data = google.visualization.arrayToDataTable([
	    	['Constituency','Turnout','First Past Post Share','Abstention Share'],
	    {% for conres in election.constituencyelection_set.all%}
	    	[
	    		'{{conres.constituency.name}}',
				{{conres.turnout_percentage}},
				{{conres.winner_total_percentage}},
				{{conres.abstention_percentage}},
			],
	    {% endfor %}
	    ]);
        var options = {
          title: 'Turnout Percentage',
          hAxis: {maxValue:100,minValue:0},
          fontSize: 10,
          chartArea: {top:10},
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<table>
	<thead>
		<th>Constituency</th>
		<th>Turnout</th>
	</thead>

	<tbody>
		
	</tbody>
</table>

</head>
<body>
<h1>{{election}}</h1>
	<div id="chart_div" style="width: 1600px; height: 15000px;"></div>
</body>
</html>

